@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Clairvoyant.Models

@model Contact

<div class="text-center">
    <h1>
        Edit Contact
    </h1>
</div>

<form asp-action="edit" center="text-center">


    <input type="hidden" value="@Model.Id" name="contactId" />

    <div>
        <label>
            First Name
            <input type="text" name="FirstName" class="form-control" value="@Model.FirstName" />
        </label>
    </div>
    <div>
        <label>
            Last Name
            <input type="text" name="LastName" class="form-control" value="@Model.LastName" />
        </label>
    </div>
    <div>
        <label>
            Phone
            <input type="text" name="Phone" class="form-control" value="@Model.Phone" />
        </label>
    </div>
    <div>
        <label>
            Email
            <input type="email" name="Email" class="form-control" value="@Model.Email" />
        </label>
    </div>


    <div class="form-group">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Check this custom checkbox</span>
        </label>
    </div>


    <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Adjust date and time</label>
        <div class="col-10">
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Save" /><input type="submit" class="btn btn-outline-primary" value="Cancel" UseSubmitBehavior="False" />
    </div>



</form>















